body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  margin: 0 auto;
  width: 70%;
}

.App-header {
  background-color: #032541;
  padding-top: 10px;
  max-width: 100%;
  height: 50px;
  top: 0;
  margin: 0;
  list-style: none;
}

.button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 15px 5px;
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
  float: left;
}

.button:hover {
  background-color: aquamarine;
  color: #032541;
  border: none;
}

.logo {
  float: left;
  width: 100px;
  height: 15px;
  margin: 5px 10px;
}
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.search > input[type='text'] {
  border: 1px solid black;
  padding: 10px;
  width: 70%;
  min-width: 170px;
  box-shadow: 0px 0px 20px -5px rgba(136, 136, 136, 1);
}

.search input[type='text']:focus {
  outline: none;
}

.movies,
.shows {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}

.movie,
.show {
  width: 400px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -5px rgba(136, 136, 136, 1);
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.imgWidth {
  border-radius: 10px 10px 0 0;
}

@media only screen and (min-width: 1700px) {
  .App {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .movies,
  .shows {
    max-width: 700px;
  }
  .movie,
  .show {
    max-width: 300px;
  }
  .imgWidth {
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    width: 60%;
  }
  .logo {
    width: 25%;
    margin: 10px 30px;
  }
  .button {
    margin: 10px 10px 0 0;
    padding: 5px;
    font-size: small;
  }
  .movies,
  .shows {
    margin-left: 5%;
    min-width: 250px;
    max-width: 300px;
  }
  .imgWidth {
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .App {
    width: 80%;
  }
  .logo {
    margin: 0 5px 0 -10px;
  }
  .movies,
  .shows {
    min-width: 200px;
    max-width: 250px;
  }
  .imgWidth {
    width: 250px;
  }
}
